
@media (max-width: 768px){

  .fondo-color {
    background-color: rgb(229 231 235);
  }

  .contenedorPolicies {
    height: 120vh;
    width: 100%;
    h1 {
      color: #313131;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
    }
    .contenedor-cajas {
      display: flex;
      justify-content: center;
      align-items: center;
      // justify-content: space-around;
      flex-direction: column;
      height: 100vh;
      padding-top: 50px;
      .card {
        height: 38vh;
        width: 220px;
        background-color: whitesmoke;
        transition: 0.3s;
        margin: 20px;
        &:hover {
          border-radius: 2px;
          transform: scale();
          box-shadow: 0px 0px 10px 0px #313131;
        }
        .circle {
          background-color: rgb(229 231 235);
          height: 5rem;
          width: 5rem;
          border-radius: 9999px;
          border-top: #313131 2px solid;
          border-left: #313131 2px solid;
          border-right: #313131 2px solid;
          border-bottom: #313131 2px solid;
  
          .img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding-top: 20px;
            
            img {
              width: 60px;
              height: 40px;
            }
          }
  
        }
        .despacho{
          color: #313131;
          font-size: 17px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          padding-left: 10px;
          width: 100%;
      }
        .texto {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 0px;
          p {
            color: #313131;
            font-family: sans-serif;
            width: 30%;
            font-weight: bold;
            font-size: 19px;
          }
        }
        .boton {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 15px;
          padding-bottom: 3px;
          button {
            background-color: rgb(0 112 140);
            border: none;
            border-radius: 3px;
            width: 150px;
            height: 50px;
            color: whitesmoke;
            font-size: 16px;
            font-weight: bold;
            font-family: sans-serif;
            &:hover {
              background-color: rgb(1, 87, 109);
              transition: 0.2s;
            }
          }
        }
      }
    }
  }
} 
  

@media (min-width: 768px){

.fondo-color {
  background-color: rgb(229 231 235);
}

.contenedorPolicies {
  height: 80vh;
  width: 100%;
  h1 {
    color: #313131;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  .contenedor-cajas {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    .card {
      height: 38vh;
      width: 220px;
      background-color: whitesmoke;
      transition: 0.3s;
      &:hover {
        transform: scale();
        box-shadow: 0px 0px 10px 0px #313131;
      }
      .circle {
        background-color: rgb(229 231 235);
        height: 5rem;
        width: 5rem;
        border-radius: 9999px;
        border-top: #313131 2px solid;
        border-left: #313131 2px solid;
        border-right: #313131 2px solid;
        border-bottom: #313131 2px solid;

        .img {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding-top: 20px;
          
          img {
            width: 60px;
            height: 40px;
          }
        }

      }
      .despacho{
        color: #313131;
        font-size: 17px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-left: 10px;
        width: 100%;
    }
      .texto {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        p {
          color: #313131;
          font-family: sans-serif;
          width: 30%;
          font-weight: bold;
          font-size: 19px;
        }
      }
      .boton {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 3px;
        button {
          background-color: rgb(0 112 140);
          border: none;
          border-radius: 3px;
          width: 150px;
          height: 50px;
          color: whitesmoke;
          font-size: 16px;
          font-weight: bold;
          font-family: sans-serif;
          &:hover {
            background-color: rgb(1, 87, 109);
            transition: 0.2s;
          }
        }
      }
    }
  }
}

}