@import "navbar";
@import "inicio";
@import "targetas-descuentos";
@import "3er-entrega";
@import "contact-us";
@import "shop";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
