.contenedor-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}
.contenedor-navbar .logo {
  margin-left: 15px;
}
.contenedor-navbar .logo img {
  width: 60px;
  height: 20px;
}
.contenedor-navbar button {
  margin-right: 550px;
  width: 60px;
  height: 30px;
  border-radius: 7px;
  border: none;
  color: rgba(182, 9, 9, 0.837);
}
.contenedor-navbar button:hover {
  background-color: rgba(128, 128, 128, 0.341);
  transition: 0.7s;
}
.contenedor-navbar nav {
  margin-right: 10px;
}
.contenedor-navbar nav a {
  padding: 17px;
  color: #313131;
  font-size: 19px;
  font-family: sans-serif;
}
.contenedor-navbar nav a:hover {
  color: rgba(182, 9, 9, 0.837);
  transition: 0.3s;
}

header {
  width: 100%;
  height: 100vh;
}
header .foto {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/danilo-capece-NoVnXXmDNi0-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .nike {
  font-size: 47px;
  font-family: rubik, sans-serif;
  letter-spacing: 2px;
  color: whitesmoke;
  font-weight: inherit;
  opacity: 0.9;
  margin-bottom: 23px;
}
header h3 a {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  letter-spacing: 1px;
  font-weight: inherit;
  border-bottom: 2px whitesmoke;
  transition: 0.3s;
  opacity: 0.8;
}
header h3 a:hover {
  opacity: 1;
  transform: scale(1.2);
}

.fondo-color {
  background-color: rgb(229, 231, 235);
}

.contenedor-descuentos {
  height: 70vh;
  width: 100%;
}
.contenedor-descuentos .title-discounts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
}
.contenedor-descuentos .title-discounts h1 {
  color: #313131;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.contenedor-descuentos .contenedor-targetas-descuentos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target {
  background-color: rgb(251, 146, 60);
  width: 240px;
  height: 180px;
  margin: 50px;
  transition: 0.5s;
  border-radius: 3px;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target:hover {
  background-color: rgb(251, 106, 60);
  transition: 0.3s;
  transform: skewX(-20deg);
}
.contenedor-descuentos .contenedor-targetas-descuentos .target .izq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target .izq h3 {
  font-size: 1.175rem;
  color: whitesmoke;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target .izq .precio-1 {
  display: block;
  margin-left: 120px;
  margin-top: 30px;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target .izq .precio-1 .original {
  color: rgba(49, 49, 49, 0.7725490196);
  margin-left: 12px;
  text-decoration-line: line-through;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target .izq .precio-1 .oferta {
  font-size: 20px;
  color: rgba(245, 245, 245, 0.765);
}
.contenedor-descuentos .contenedor-targetas-descuentos .target .zapa-boton {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target .zapa-boton img {
  height: 4rem;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target .zapa-boton button {
  background-color: #212121;
  color: rgb(224, 223, 223);
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 1px;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target .zapa-boton button:hover {
  background-color: #313131;
  transition: 0.3s;
  color: white;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target-2 {
  background-color: rgb(248, 113, 113);
  width: 240px;
  height: 180px;
  margin: 50px;
  transition: 0.5s;
  border-radius: 3px;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target-2:hover {
  background-color: rgb(230, 80, 57);
  transition: 0.3s;
  transform: skewX(-20deg);
}
.contenedor-descuentos .contenedor-targetas-descuentos .target-2 .izq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target-2 .izq h3 {
  font-size: 1.175rem;
  color: whitesmoke;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target-2 .izq .precio-1 {
  display: block;
  margin-left: 120px;
  margin-top: 30px;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target-2 .izq .precio-1 .original {
  color: rgba(49, 49, 49, 0.7725490196);
  margin-left: 12px;
  text-decoration-line: line-through;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target-2 .izq .precio-1 .oferta {
  font-size: 20px;
  color: rgba(245, 245, 245, 0.765);
}
.contenedor-descuentos .contenedor-targetas-descuentos .target-2 .zapa-boton {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target-2 .zapa-boton img {
  height: 4rem;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target-2 .zapa-boton button {
  background-color: #212121;
  color: rgb(224, 223, 223);
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 1px;
}
.contenedor-descuentos .contenedor-targetas-descuentos .target-2 .zapa-boton button:hover {
  background-color: #313131;
  transition: 0.3s;
  color: white;
}

.target-3 {
  background-color: rgb(172, 188, 207);
  width: 240px;
  height: 180px;
  margin: 50px;
  transition: 0.5s;
  border-radius: 3px;
}
.target-3:hover {
  background-color: rgb(137, 149, 164);
  transition: 0.3s;
  transform: skewX(-20deg);
}
.target-3 .izq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}
.target-3 .izq h3 {
  font-size: 1.175rem;
  color: whitesmoke;
}
.target-3 .izq .precio-1 {
  display: block;
  margin-left: 120px;
  margin-top: 30px;
}
.target-3 .izq .precio-1 .original {
  color: rgba(49, 49, 49, 0.7725490196);
  margin-left: 12px;
  text-decoration-line: line-through;
}
.target-3 .izq .precio-1 .oferta {
  font-size: 20px;
  color: rgba(245, 245, 245, 0.765);
}
.target-3 .zapa-boton {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.target-3 .zapa-boton img {
  height: 4rem;
}
.target-3 .zapa-boton button {
  background-color: #212121;
  color: rgb(224, 223, 223);
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 1px;
}
.target-3 .zapa-boton button:hover {
  background-color: #313131;
  transition: 0.3s;
  color: white;
}

.contenedorPolicies {
  height: 80vh;
  width: 100%;
}
.contenedorPolicies h1 {
  color: #313131;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.contenedorPolicies .contenedor-cajas {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
}
.contenedorPolicies .contenedor-cajas .card {
  height: 38vh;
  width: 220px;
  background-color: whitesmoke;
  transition: 0.3s;
}
.contenedorPolicies .contenedor-cajas .card:hover {
  transform: scale();
  box-shadow: 0px 0px 10px 0px #313131;
}
.contenedorPolicies .contenedor-cajas .card .circle {
  background-color: rgb(229, 231, 235);
  height: 5rem;
  width: 5rem;
  border-radius: 9999px;
  border-top: #313131 2px solid;
  border-left: #313131 2px solid;
  border-right: #313131 2px solid;
  border-bottom: #313131 2px solid;
}
.contenedorPolicies .contenedor-cajas .card .circle .img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}
.contenedorPolicies .contenedor-cajas .card .circle .img img {
  width: 60px;
  height: 40px;
}
.contenedorPolicies .contenedor-cajas .card .despacho {
  color: #313131;
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 10px;
  width: 100%;
}
.contenedorPolicies .contenedor-cajas .card .texto {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
.contenedorPolicies .contenedor-cajas .card .texto p {
  color: #313131;
  font-family: sans-serif;
  width: 30%;
  font-weight: bold;
  font-size: 19px;
}
.contenedorPolicies .contenedor-cajas .card .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 3px;
}
.contenedorPolicies .contenedor-cajas .card .boton button {
  background-color: rgb(0, 112, 140);
  border: none;
  border-radius: 3px;
  width: 150px;
  height: 50px;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
}
.contenedorPolicies .contenedor-cajas .card .boton button:hover {
  background-color: rgb(1, 87, 109);
  transition: 0.2s;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}/*# sourceMappingURL=index.css.map */